body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Marquee1
{
   background-color: #EEEEEE;
   background-image: none;
   border: 1px solid #C0C0C0;
   text-align: center;
   margin: 0;
}
